body{
	
	
}

.container{
	max-width: 1160px !important;
	background-color:#F8F8F9;

}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbar-brand-name {
    margin-top: 10px;
}

.active-line{
	border-bottom: solid 3px;
    border-bottom-color: #F5BF00;
}

.text-empresa{
	
	color:#000000 !important;
	font-size:24px !important;
}

.text-menu{
	color:#000000 !important;
	font-size:14px !important;
}

.jumbotron-content {
  background-color: rgba(0, 0, 0, 69); /* Negro con transparencia */
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 2%; /* Ajusta este valor para mover el cuadro hacia la izquierda */
  transform: translateY(-50%);
  max-width: 64%;
  text-align: center;
  border-radius: 10px
}

.titulo-jumbotron{
	font-size:22px;
	color:#FFFFFF;
}

.subtitulo-jumbotron{
	font-size:14px;
	color:#F3F2F1;
}

.header-text {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #25458A;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.div-header-tiempo{
	border-bottom: solid 3px;
    border-color: #25458A;
    margin-top: 10px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Definición de la sombra */
  border-radius: 8px; /* Redondeo de las esquinas de la tarjeta */
  transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambiar la sombra al pasar el ratón */
}

.card-body {
	padding: 1rem !important;
}

.card-custom{
	width: 18rem;
    text-align: center;
    background-color: #D9E1F1;
    /**margin-left: 20px;**/
}

.card-today{
	width: 18rem;
    text-align: left;
     /**margin-left: 20px;**/
}


.tem-max-min{
	font-size: 14px;
	color: #4D4D4D;
	font-weight: 500;
}

.card-titulo-semana{	
	border-bottom: solid 1px;
    border-color: #25458A;
    margin-bottom: 21px;
}

.div-header-noticias{
	border-bottom: solid 3px;
    border-color: #25458A;
    margin-top: 10px;
    margin-bottom: 13px;
}

.card-body-noticias{
	font-size: 13px;
	height: 170px !important;
}


.footer-card-noticias{
	padding: 0.75rem 1.25rem;	
}

.titulo-card-noticias{
	font-size:16px;
}

.a-footer-noticias{
	color: #25458A !important;
    font-size: 12px;
    font-weight: bold;
}

.botton-noticias{
	margin-bottom: 4px;
    text-align: center;
    margin-top: 24px;
}

.btn-noticias{
	width: 216px;
    background-color: #25458A !important;
    font-size: 16px;
    border-radius: 8px;
}

.card-body-plataformas {
	display: flex; /* Utilizamos flexbox para el diseño */
	align-items: center; /* Centramos verticalmente */
	padding:0px !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper{
	
    background-color: #DFB449;
    width: 60px;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.img-plataformas{
	width: 30px;
    height: 30px;
    margin-top: 12px;
}

.card-faqs{
	background-color:#fff !important;
	height: 54px;
}

.btn-link{
	color:#242424;
	font-size:15px;
	font-weight:500;
	padding-top: 0px;
}

.btn-link:hover {
    text-decoration: none !important;
    background-color:#f7f7f7!important;
    border-color:#f7f7f7;
}

.card-body-faqs{
	font-size:13px;
	font-weight:400;
	color:#242424;
	text-align:left;
}

.footer-icons {
  text-align: center; /* Alinear al centro */
}

.footer-icons a {
  color: #333; /* Color de los iconos */
  margin: 0 10px; /* Margen entre los iconos */
}


